* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Work Sans', sans-serif;

}

/* =========================================================================================================== */


:root {
  --para: rgb(121, 109, 108);
  --nevtext: rgb(245, 245, 245);
  --para-tint: rgb(83, 65, 189);
  --white: #fff;
  --black: #000000;
  --helper: rgb(8, 50, 96);
  --overlay: rgb(91, 72, 209);
  --bg: rgb(249 249 255);
  --navbg: rgb(24, 22, 22);
  --shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.362);
  --shadowSupport: 0 2rem 2rem 0 rgba(132, 144, 255, 0.415);
  --h3: rgb(51, 39, 117);
  --h1: rgb(245, 245, 245);
  --textstroke: rgb(91, 72, 209);
  --about-box: rgb(24, 22, 22);
  --violet: rgb(91, 72, 209);

}

/* =========================================================================================================== */


html {
  font-size: 62.2%;
  scroll-behavior: smooth;
}

/* =========================================================================================================== */

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}

/* =========================================================================================================== */

h1 {
  color: var(--white);
  font-size: 7rem;
  font-weight: 800;
  -webkit-text-stroke: 0.4rem var(--textstroke);
}

h2 {
  color: var(--white);
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h3 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--h3);
}

h4 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--para-tint);
  line-height: 3rem;
}



p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.35rem;
}

a {
  text-decoration: none;
}


/* ========================================================================================== */

/* Reusable code section  */



.btn {
  background-color: var(--helper);
  padding: 0.8rem 2.2rem;
  border: none;
  border-radius: 25px;
}

.btn:hover,
.btn:active {

  transition: all 1sec linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;

}

/* =============================================================================== */

.nav{
  background-color: var(--navbg);
  padding: 2rem;
}

.nav-flex{
  display: flex;
  align-items: center;

}

.logos {
  width: 18rem;
  height: 5rem;
  margin: 1rem 10rem 1rem 1rem;
}

.mobile-icon{
  display: none;
}



.menue-none{
  width: 82%;
  display: flex;
  justify-content: space-evenly;
}

.nav-option{
  width: 81%;
  display: flex;
  justify-content: space-around;
}


/* navtext */

.navtext {
  font: 1.3em sans-serif;
  color: var(--nevtext);
}

.navtext:hover {
  transition: all 1sec linear;
  font: 1.33em sans-serif;
  text-shadow: 4px 4px 4px var(--para);
}

.down-text {
  font: 1em sans-serif;
  color: var(--nevtext);
}

.down-text:hover {
  transition: all 1sec linear;
  font: 1.02em sans-serif;
  text-shadow: 4px 4px 4px var(--para);
}


@media only screen and (max-width: 480px) {
  html {
      font-size: 45%;
  }

  h1 {
      font-size: 4rem;
  }

  h2 {
      font-size: 3rem;
  }

  .nav-flex{
    display: flex;
    justify-content: space-around;
  }


  .mobile-icon{
    display: block;
    font-size: 4rem;
    padding: 0.5rem;
    color: var(--white);
    border: 0.3rem solid var(--white);
  }



 .nav-option{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 6rem;
  position: absolute;
  top: 10rem;
  left: 0rem;
  width: 100%;
  height: 90%;
  background: var(--para-tint);
  font-size: 2rem;
 } 
 .menue-none {
  /* ... (previous styles) ... */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear; /* Added transition property */
}

.mobile-icon2{
  display: none;
}

/* .mobile-icon:hover + .menue-none,
.menue-none:hover + .mobile-icon2 {
  visibility: visible;
  opacity: 1;
} */





}